.navbar {
  background: $seconday-color;
  margin: 0;
  h1{
    margin-top:0;
    padding: 1em;
    font-family: 'Bungee', cursive;
  }
  ul{
    padding-top: 0;
    list-style: none;
  }
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 2em;

  a {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5em;
  }
}
